// Config
@import "./config/_variables.scss";
@import "./config/_reset.scss";

// Components

@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/shared.scss";
@import "./components/forms.scss";
@import "./components/social-login.scss";
@import "./components/video-player.scss";

// Screens

@import "./screens/search.scss";
@import "./screens/profile.scss";
@import "./screens/edit-profile.scss";
@import "./screens/upload.scss";
@import "./screens/watch.scss";

@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

// Defaults
* {
  cursor: default;
  font-family: "Jua", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

i {
  cursor: pointer;
}
input[type="text"] {
  cursor: text;
}
input[type="submit"],
input[type="range"] {
  cursor: pointer;
}

button {
  cursor: pointer;
}

body {
  font-family: "Jua", sans-serif;
  background-color: $bg;
  color: #0f0f0f;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 5s;
  &.error {
    background-color: tomato;
    color: white;
  }

  &.info {
    background-color: rgb(0, 0, 0);
    color: white;
  }

  &.sucess {
    background-color: rgb(27, 175, 255);
    color: white;
  }
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  color: #444;
  background-color: #fff;

  padding: 0.6em 1.4em 0.5em 0.8em;
  margin: 0;

  border: 1px solid #aaa;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  margin-right: 20px;
}
