extends base.pug
include mixins/video

block content
    form(method="GET").search__form
        select(id="search-select")
            option(value="title") Title 
            option(value="hashtag") HashTag
        input(placeholder="Search", required, type="text", name="keyword", maxLength=80)
        button
            i.fas.fa-search
    div.video-grid
        each video in videos 
                +video(video)
        else
            span.empty__message No videos found